* {
    box-sizing : border-box;
    font-family: sans-serif;
    margin     : 0;
    padding    : 0;
}

body {
    background-color: whitesmoke;
    font-size       : medium;
}

header {
    background-color: teal;
    color           : whitesmoke;
    position        : fixed;
    top             : 0;
    height          : 50px;
    width           : 100%;
    z-index         : 1;
}

h1 {
    color      : whitesmoke;
    line-height: 50px;
    text-align : center;
    position   : fixed;
    top        : 0;
    height     : 50px;
    width      : 100%;
}

main {
    align-items    : center;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: space-evenly;
    padding        : 50px 0;
    overflow       : auto;
    position       : absolute;
    top            : 0;
    bottom         : 0;
    left           : 0;
    right          : 0;
    min-height     : 500px;
    max-height     : 600px;
    height         : 100%;
    min-width      : 320px;
    width          : 100%;
}

footer {
    background-color: teal;
    position        : fixed;
    bottom          : 0;
    height          : 50px;
    width           : 100%;
    z-index         : 1;
}

audio {
    margin   : 0 auto;
    position : fixed;
    bottom   : 10px;
    left     : 0;
    right    : 0;
    height   : 30px;
    max-width: 300px;
    width    : 80%;
}

.scoreboard {
    align-items    : flex-start;
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: space-between;
    list-style     : none;
    font-weight    : 900;
    text-align     : center;
    max-width      : 300px;
    width          : 100%;
}

.score {
    line-height: 25px;
    min-width  : 80px;

}

.pokemon {
    background-color        : lightgray;
    background-blend-mode   : color-dodge;
    background-repeat       : no-repeat, no-repeat;
    background-position     : center center;
    background-size         : contain;
    /* background-size      : 100%; */
    border                  : 3px solid darkgray;
    border-radius           : 25%;
    opacity                 : 0.9;
    height                  : 100px;
    width                   : 100px;
}

.life {
    color    : tomato;
    min-width: 80px;
}

.text {
    font-weight: 900;
    line-height: 30px;
    text-align : center;
}

.word {
    align-items : center;
    display     : flex;
    flex-flow   : row nowrap;
    justify-self: center;
    list-style  : none;
    margin      : 0;
    padding     : 0;
}

.letter {
    background    : linear-gradient(135deg, red, tomato);
    border        : 0px solid;
    border-radius : 2px;
    color         : whitesmoke;
    font-weight   : 900;
    line-height   : 14px;
    text-align    : center;
    text-transform: uppercase;
    margin        : 2px;
    padding       : 6px 0;
    height        : 25px;
    width         : 25px;
}

.keyboard {
    align-items    : center;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    list-style     : none;
    max-width      : 300px;
}

.key {
    background    : linear-gradient(270deg, maroon, tomato);
    border        : 0px solid;
    border-radius : 2px;
    color         : whitesmoke;
    font-weight   : 900;
    line-height   : 14px;
    text-align    : center;
    text-transform: uppercase;
    margin        : 2px;
    padding       : 6px 0;
    height        : 25px;
    width         : 25px;
}

.key:hover {
    background: linear-gradient(135deg, maroon, tomato);
    border    : 2px inset maroon;
    cursor    : pointer;
    padding   : 4px;
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    background: linear-gradient(135deg, maroon, tomato);
    border    : 0;
    cursor    : default;
    padding   : 6px;
}

.special {
    padding   : 0;
    width     : 0px;
    visibility: hidden;
}

.hidden {
    padding   : 0;
    width     : 10px;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.show {
    background-blend-mode: normal;
}


@media only screen and (min-width: 400px) {
    @media only screen and (min-height: 450px) {
        main {
            font-size: 16px;
        }
    }
}